@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
}
header {
 
  background-size: cover;
  background-blend-mode: darken;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  height: 100vh;
  
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  border: 2px solid #FFF;
  border-radius: 5rem;
  width: 100%;
  background-color:#181616;
}

.container h1 {
  color: tomato;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
  font-family: Skranji;
 
}
.navbar ul li {
  display: inline-block;
  padding: 18px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 4px;
  transition: 3.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}
.navbar ul li a:hover {
  box-shadow: 0px 3px 50px tomato inset, 0px 3px 50px tomato inset,
    0px 3px 50px tomato inset, 0px 3px 50px tomato inset;
}
.RESERVATION {
  padding: 8px;
  background-color: tomato;
}
.home {
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10px 0px;
}
.home-content {
  margin: 9px 100px;
  max-width: 600px;
  margin-bottom: 10%;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}
.home-img {
  margin: 9px 100px;
  max-width: 600px;
  margin-bottom: 10%;
  margin-right: 10%;
  animation: fadeIn 18s;
  
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}
.home-content p {
  font-size: 20px;
  margin: 20px 0px;
}
.home-img img {
  border: 38px;
  box-shadow: 2px 2px 3px 3px whitesmoke;
  margin-bottom: 10%;
  margin-right: 10%;
  border-radius: 50%;
}

.btn {
  background-color: #fff;
  border: none;
  margin: 6px -15px;
  margin-left: 20%;
  padding: 3px 13px;
  font-size: 16px;
  color: #181616;
  border-radius: 12px;
  font-weight: 400;
}
.btn:hover {
  font-size: 15px;
  color: #fff;
  background-color: black;
  animation: fadeIn 2s;
}
.btn i {
  background-color: aqua;
  font-size: large;
  color: aquamarine;
}
.about {
  margin-bottom: 2%;
}
.about-info {
  display: flex;
  gap: 10px;
}
.about h1 {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 2px;
}
.about hr {
  height: 2px;
  background-color: #181616;
  width: 20%;
  margin-left: 40%;
}
.about .left {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 40%;
  height: 40%;
}
.about img {
  width: 30vw;
  height: 50vh;
  border: none;
  border-radius: 10%;
}
.about .right {
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 40%;
  height: 40%;
  font-size: 20px;
  animation: fadeIn 15s;
}
.skills {
  width: 100vw;
  height: 100vh;
}
.skills h1 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 2px;
}
.skills .head {
  height: 2px;
  background-color: #181616;
  width: 10%;
  margin-left: 45%;
}
.skill-info {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  grid-row: 10px;
  grid-column: 10px;
}
.skill-info .s {
  display: flex;
}
.skill-info hr {
  height: 2px;
  background-color: #181616;
  border-radius: 2px;
}

.bar {
  font-size: 23px;
  align-items: center;
  justify-content: center;
}
.Technical-bars {
  margin: 149px 194px;
  padding: 10px 23px;
  font-size: 30px;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
  font-size: 45px;
}
.Technical-bars .bar .info span {
  font-size: 15px;
  font-weight: 500;
  opacity: 1;
  animation: showtext 0.5s 1s linear forwards;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #181616;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: rgb(14, 198, 140);
  position: absolute;
  border-radius: 10px;
  animation: animateChild 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animateChild {
  100% {
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line.html span {
  width: 80%;
}
.Technical-bars .bar .progress-line.css span {
  width: 60%;
}
.Technical-bars .bar .progress-line.js span {
  width: 40%;
}
.Technical-bars .bar .progress-line.python span {
  width: 50%;
}
.Technical-bars .bar .progress-line.CPP span {
  width: 90%;
}
.Technical-bars .bar .progress-line.react span {
  width: 50%;
}

.Technical-bars .bar .progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #181616;
  color: aliceblue;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showtext 2.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "80%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.js span::after {
  content: "40%";
}
.progress-line.python span::after {
  content: "50%";
  font-size: 30px;
}
.progress-line.CPP span::after {
  content: "90%";
}
.progress-line.react span::after {
  content: "50%";
}

.progress-line span::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  animation: showtext 0.5s 1.5s linear forwards;
  opacity: 1;
  font-size: 20px;
}
@keyframes showtext {
  100% {
    opacity: 1;
  }
}

.main-text {
  padding-top: 23px;
  margin-top: -615px;
}
.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin: 97px 485px;
  padding: 23px 23px;
}
.main-text h2 span {
  color: aqua;
}

.Technical-bars .bar .progress-line.html span {
  width: 80%;
}
.Technical-bars .bar .progress-line.css span {
  width: 60%;
}
.Technical-bars .bar .progress-line.js span {
  width: 40%;
}
.Technical-bars .bar .progress-line.python span {
  width: 50%;
}
.Technical-bars .bar .progress-line.CPP span {
  width: 90%;
}
.Technical-bars .bar .progress-line.react span {
  width: 50%;
}

.Technical-bars .bar .progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #181616;
  color: aliceblue;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showtext 2.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "80%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.js span::after {
  content: "40%";
}
.progress-line.python span::after {
  content: "50%";
  font-size: 30px;
}
.progress-line.CPP span::after {
  content: "90%";
}
.progress-line.react span::after {
  content: "50%";
}
.progress-line span::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  animation: showtext 0.5s 1.5s linear forwards;
  opacity: 1;
  font-size: 20px;
}

.main-text {
  padding-top: 23px;
  margin-top: -615px;
}
.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin: 97px 485px;
  padding: 23px 23px;
}
.main-text h2 span {
  color: aqua;
}


.projects{
    width: 100vw;
    height: 90vh;
}
.project{
display: flex;
margin-left: 10%;
margin-right: 10%;
gap: 20px;

}
.projects h1{
    text-align: center;
    margin-top: 4px;
    margin-bottom: 2px;
}
.projects hr{
    height: 2px;
  background-color: #181616;
  width: 20%;
  margin-left: 40%;
}
.p1{
    margin-top: 5%;
   background-color: #364b5f;
    width: 100%;
    height: 25rem;
    border: 2px solid black;
    color: #fff;
}
.p1 img{
    width: 100%;
}
.p1 p{
   margin-left: 5%;
   margin-right: 5%;
   margin:5%;
   transition: margin 10s;
   transform: rotateX(30deg);
}

.contact-me h1{
    text-align: center;
    margin-top: 4px;
    margin-bottom: 2px;
}
.contact-me hr{
    height: 2px;
    background-color: #181616;
    width: 18%;
    margin-left: 41%;
}



.con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: url('images/contact.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: 300;
}
@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background:transparent;
    border: 2px solid rgba(13, 13, 13, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    

}
h2{
    font-size: 2rem;
    color: #111010;
    text-align: center;

}
.input-box{
    position: relative;
  width: 310px;
  margin: 30px 0px;
  border-bottom: 2px solid #fff;

}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #0e0e0e;
    pointer-events: none;

}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 1em;
    color: #111010;
    padding: 0 35px 0 5px;

}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #111010;
    font-size: 1.2rem;
    line-height: 57px;
}
.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    display: flex;
    color: #090909;
    justify-content: space-between;


}

.remember-forgot label input{
    margin-right: 3px;
}
.remember-forgot a{
    color: #141313;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
button{
    width: 60%;
    height: 40px;
    background: #161515;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #918b8b;
    font-weight: 500;
    margin-left: 20%;
    margin-bottom: 5%;

}



@media (max-width:360px) {
    .login-box{
        width: 100%;
        height: 100vh;

    }
    
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction:column ;
    justify-content: center;
}
footer .social_icon,footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;
}
footer .social_icon li a
{
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover,
footer .menu li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.3rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url('images/wave.png');
    background-size:1000px  100px ;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animative 4s linear infinite;
}
footer .wave#wave2{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animative_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animative 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animative_02 3s linear infinite;
}
@keyframes animative{
    0%{
       background-position-x:1000px ; 
    }
    100%{
        background-position-x:0px ; 
     }
}
@keyframes animative_02{
    0%{
       background-position-x:1000px ; 
    }
    100%{
        background-position-x:0px ; 
     }
}
